@import "variables.scss";
@media screen and (max-width: 1480px) {
    .header_activity {
        .title_header {
            width: 89%;
        }
        .action_header {
            width: 12%;
        }
    }
}

@media screen and (max-width: 1380px) {
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1360px) {
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1320px) {
    .header_activity {
        .title_header {
            width: 88%;
        }
        .action_header {
            width: 13%;
        }
    }
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                            width: 60%;
                        }
                        div.action {
                            width: 40%;
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1260px) {
    .header_activity {
        .title_header {
            width: 88%;
        }
        .action_header {
            width: 15%;
        }
    }
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1240px) {
    .slider_content {
        .owl-carousel {
            .owl-nav {
                .owl-prev,
                .owl-next {
                    height: 205px;
                }
            }
        }
    }
    .header_activity {
        .title_header {
            width: 90%;
        }
        .action_header {
            width: 16%;
        }
    }
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header_activity {
        .title_header {
            width: 90%;
        }
        .action_header {
            width: 16%;
        }
    }
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1160px) {
    .header_activity {
        .title_header {
            width: 90%;
        }
        .action_header {
            width: 17%;
        }
    }
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1140px) {
    .header_activity {
        .title_header {
            width: 90%;
        }
        .action_header {
            width: 17%;
        }
    }
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1120px) {
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header_activity {
        .title_header {
            width: 90%;
        }
        .action_header {
            width: 17%;
        }
    }
}

@media screen and (max-width: 1100px) {
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header_activity {
        .title_header {
            width: 90%;
        }
        .action_header {
            width: 17%;
        }
    }
}

@media screen and (max-width: 1080px) {
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                            width: 50%;
                        }
                        div.action {
                            width: 50%;
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header_activity {
        .title_header {
            width: 90%;
        }
        .action_header {
            width: 17%;
        }
    }
}

@media screen and (max-width: 1040px) {
    .recommended_appointments {
        .p-card {
            .p-card-header {
                font-size: 14px;
            }
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header_activity {
        .title_header {
            width: 90%;
        }
        .action_header {
            width: 17%;
        }
    }
}

@media screen and (max-width: 1020px) {
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header_activity {
        .title_header {
            width: 90%;
        }
        .action_header {
            width: 17%;
        }
    }
}

@media screen and (max-width: 990px) {
    .recommended_appointments {
        .p-card {
            .p-card-body {
                .p-card-content {
                    .content_body {
                        div.title {
                            font-size: 12px;
                        }
                        div.action {
                            .p_btn {
                                padding: 2px 5px;
                                .p-button-label {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header_activity {
        .title_header {
            width: 90%;
        }
        .action_header {
            width: 20%;
        }
    }
}

@media screen and (max-width: 960px) {
    .p-menubar {
        position: relative;
        padding: 20px;
    }
    .full_width {
        margin-left: 60px;
    }
    .slider_content {
        #pr_id_1 {
            .p-datatable-tbody>tr>td:not(:last-child) {
                display: block;
            }
            .p-datatable-tbody>tr>td {
                padding: 5px;
                text-align: center;
            }
            .p-datatable-tbody>tr>td:nth-child(2),
            .p-datatable-tbody>tr>td:nth-child(3) {
                display: inline-block;
                width: 50% !important;
                border-bottom: 1px solid $lightgray !important;
            }
            .p-datatable-tbody>tr {
                display: inline-block;
                width: 33.33% !important;
                border-top: 1px solid $lightgray;
                border-left: 1px solid $lightgray;
                border-right: 1px solid $lightgray;
            }
        }
    }
    #pr_id_1 {
        .p-datatable-tbody>tr>td:not(:last-child) {
            display: block;
        }
        .p-datatable-tbody>tr>td {
            padding: 5px;
            text-align: center;
        }
        .p-datatable-tbody>tr>td:nth-child(2),
        .p-datatable-tbody>tr>td:nth-child(3) {
            display: inline-block;
            width: 50% !important;
            border-bottom: 1px solid $lightgray !important;
        }
        .p-datatable-tbody>tr {
            display: inline-block;
            width: 33.33% !important;
            border-top: 1px solid $lightgray;
            border-left: 1px solid $lightgray;
            border-right: 1px solid $lightgray;
        }
    }
    .header_activity {
        .title_header {
            width: 80%;
        }
        .action_header {
            width: 20%;
        }
    }
    .menu_header {
        .p-menuitem {
            .p-menuitem-link {
                .p-menuitem-text {
                    opacity: 1;
                    display: block;
                }
            }
        }
    }
    .sidebar_menu {
        .p-megamenu {
            left: -130px;
            .p-megamenu-root-list {
                li:nth-child(1) {
                    display: block;
                    a {
                        border-left: 1px solid #fff;
                        width: 40px;
                        height: 70px;
                        border: solid 1px #C5C5C7;
                        background: #fff;
                        border-color: #C5C5C7 #C5C5C7 #C5C5C7 transparent;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                        .p-menuitem-icon {
                            width: 40px;
                            height: 70px;
                        }
                        .p-menuitem-icon::before {
                            top: 22px;
                            position: relative;
                            left: 3px;
                        }
                    }
                }
            }
        }
    }
    .sidebar_menu.active {
        .p-megamenu {
            left: 0px;
        }
    }
}

@media screen and (max-width: 870px) {
    .header_activity {
        .title_header {
            width: 80%;
        }
        .action_header {
            width: 20%;
        }
    }
}

@media screen and (max-width: 840px) {
    .recommended_appointments {
        .p-card {
            .p-card-header {
                font-size: 12px;
            }
        }
    }
    .header_activity {
        .title_header {
            width: 80%;
        }
        .action_header {
            width: 20%;
        }
    }
}

@media screen and (max-width: 810px) {
    .recommended_appointments {
        .p-card {
            .p-card-header {
                font-size: 16px;
            }
        }
    }
    .header_activity {
        .title_header {
            width: 80%;
        }
        .action_header {
            width: 21%;
        }
    }
    .recommended_appointments {
        .p-card {
            .p-card-header {
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .recommended_appointments {
        .p-card {
            .p-card-header {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .header_activity {
        .title_header {
            width: 80%;
        }
        .action_header {
            width: 25%;
        }
    }
}

@media screen and (max-width: 630px) {
    .header_activity {
        .title_header {
            width: 80%;
        }
        .action_header {
            width: 35%;
        }
    }
}

@media screen and (max-width: 530px) {
    .header_activity {
        .title_header {
            width: 80%;
        }
        .action_header {
            width: 35%;
        }
    }
}