$yellow: #FED268;
$blue: #9ADAE9;
$lightgray: #C5C5C7;
$darkgray: #636468;
$white:#ffffff;
$grey:#C5C5C7;
$lightgrey:#ececf0;
$danger-text:#e91224;
$warning-text:#ffba01;
$lightgray_opt:rgb(176 178 182 / 58%);
$font-family:'poppins';